* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: linear-gradient(
        160deg,
        #f5e8ff 0%,
        #ede0ff 100%
    );

    display: flex;
    justify-content: center;

    padding: 20px;
}

.card {
    max-width: 650px;
    width: 100%;

    background: white;

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 8px 32px rgba(92,0,163,0.18);
}

.header {
    background: #3d1152;
    padding: 18px;
    text-align: center;
}

.aveva-logo {
    height: 40px;
    width: auto;
}

.wellbeing-logo {
    display: block;
    width: 75%;
    max-width: 450px;
    margin: 25px auto;
}

.title-section {
    text-align: center;
    padding: 0 20px 20px;
}

.title-section h1 {
    color: #6b04a8;
    margin-bottom: 10px;
}

.title-section p {
    color: #555;
}

.instructions {
    margin: 0 20px 20px;
    padding: 15px;
    border-radius: 12px;
    background: #f6efff;
}

.instructions h2 {
    color: #6b04a8;
    margin-bottom: 10px;
    font-size: 18px;
}

.instructions ul {
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 6px;
}

.quiz-section {
    padding: 20px;
}

#progress {
    color: #6b04a8;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 12px;
    border-radius: 20px;
    background: #e3d3f0;
    margin-bottom: 20px;
}

#progressFill {
    height: 100%;
    width: 0%;

    border-radius: 20px;

    background: linear-gradient(
        90deg,
        #6b04a8,
        #c530ff
    );

    transition: 0.3s;
}

.play-button {
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 12px;

    cursor: pointer;

    font-size: 18px;
    font-weight: bold;

    color: white;

    background: linear-gradient(
        135deg,
        #6b04a8,
        #c530ff
    );

    margin-bottom: 20px;
}

.play-button:hover {
    opacity: 0.95;
}

.option {
    display: block;

    border: 2px solid #6b04a8;

    border-radius: 12px;

    padding: 14px;

    margin-bottom: 12px;

    cursor: pointer;
}

.option:hover {
    background: #f8f1ff;
}

.option input {
    margin-right: 10px;
}

.submit-button {
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 12px;

    cursor: pointer;

    color: white;

    font-size: 16px;
    font-weight: bold;

    background: #3d1152;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 12px;
}

.result-screen {
    text-align: center;
    padding: 30px;
}

.result-screen h1 {
    color: #6b04a8;
    font-size: 60px;
}

.result-screen h2 {
    color: #3d1152;
}
